//$icon-font-path:"/libs/bootstrap-sass/assets/fonts/bootstrap/";
//@import "../../app/libs/bootstrap-sass/assets/stylesheets/bootstrap";


li ul{
  display: block;
}
.categories{
  border: 1px solid gray;
  padding: 0;

  .selected > .category-name{
    background: pink;
  }
  .category-root{
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
    max-height: 9999px;
    position: relative;
    transition: max-height 1s;


    > .category-name{
      border: 1px solid gray;
      padding: 15px;
    }

    &.expand > .category-name{
      color: green;
      font-weight: bold;
    }

    &:after{
      content: ">";
      font-weight: bold;
      font-size: 20px;
      font-family: Verdana;
      position: absolute;
      right: 15px;
      top:10px;
    }

    &.expand:after{
      -webkit-transform:rotate(90deg);
    }
  }

  li{
    overflow: hidden;
    max-height: 0px;
    transition:all .5s;

  }

  .expand > ul >li{
    max-height: 9999px;
  }

}